

.anchor-pane-end-game{
	-fx-background-color: linear-gradient(to bottom, #99FFFF, #FFFFCC);
}

.yes-button{
	-fx-background-color: linear-gradient(to right, #33FFFF, #99CCFF);
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0.5, 0.0, 2.0); /* Thêm hiệu ứng đổ bóng */
}

.yes-button:hover{
    -fx-cursor: hand;  /* Thay đổi con trỏ khi hover */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0.5, 0.0, 2.0); /* Thêm hiệu ứng đổ bóng */
    -fx-scale-x: 1.2; /* Phóng to theo chiều ngang */
    -fx-scale-y: 1.2; /* Phóng to theo chiều dọc */
}


.no-button{
	-fx-background-color: linear-gradient(to left, #FF3333, #FF3399);
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0.5, 0.0, 2.0); /* Thêm hiệu ứng đổ bóng */
}

.no-button:hover{
	-fx-cursor: hand;  /* Thay đổi con trỏ khi hover */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0.5, 0.0, 2.0); /* Thêm hiệu ứng đổ bóng */
    -fx-scale-x: 1.2; /* Phóng to theo chiều ngang */
    -fx-scale-y: 1.2; /* Phóng to theo chiều dọc */
}

.text-field{
	-fx-font-family: "MV Boli";  
	-fx-font-size: 14px;
	-fx-background-radius: 15px; 
	-fx-border-radius: 15px; 
}

.text-field:hover{
	-fx-border-color: linear-gradient(to right, #FF5733, #FFCC00); /* Đổi màu viền khi hover */
	-fx-cursor: hand;  /* Thay đổi con trỏ khi hover */
}

.text-field:focused{
	 -fx-border-color: linear-gradient(to right, #FF5733, #FFCC00); /* Đổi màu viền khi chọn */
    -fx-background-color: #F0F8FF; /* Đổi màu nền khi chọn */
}


.text-in-scene{
	-fx-fill: #FF3399;
}

.player1-text{
	-fx-fill: linear-gradient(to right, #FF3300, #FF66FF);
}

.player2-text{
	-fx-fill: linear-gradient(to right, #0033FF, #0099FF);
}

.winner-text{
	 -fx-fill: linear-gradient(to right, #FF5733, #FFCC00);
}
