.anchor-pane-help{
	-fx-background-color: linear-gradient(to bottom, #99FFFF, #FFFFCC);
}

.quit-button{
	-fx-background-color: linear-gradient(to left, #FF3333, #FF3399);
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0.5, 0.0, 2.0); /* Thêm hiệu ứng đổ bóng */
}

.quit-button:hover{
	-fx-cursor: hand;  /* Thay đổi con trỏ khi hover */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0.5, 0.0, 2.0); /* Thêm hiệu ứng đổ bóng */
    -fx-scale-x: 1.2; /* Phóng to theo chiều ngang */
    -fx-scale-y: 1.2; /* Phóng to theo chiều dọc */
}

.box-help{
	 -fx-border-color: linear-gradient(to right, #FF3300, #FF66FF);
}

.help-text{
	 -fx-fill: linear-gradient(to right, #FF5733, #FFCC00);
}